



@model List<SubCategoryVM>

@foreach (var item in Model)
{
    <div class="col-lg-4 tm-dotted-box-container">
        <article class="tm-dotted-box">
            <i class="fas fa-3x fa-binoculars tm-article-icon"></i>
            <a class="card-link" asp-controller="" asp-action="" asp-route-id=""><h3 class="tm-article-title">@item.SubCategoryName</h3></a>
            <p class="tm-article-text">@item.Overview</p>
            <a class="tm-btn tm-article-link" asp-controller="Complaint" asp-action="WriteComplaint" asp-route-id="@item.SubCategoryID">Write Complaint About This SubCategory >></a>
        </article>
    </div>


}