@model List<CategoryVM>
@foreach (CategoryVM item in Model)
{
    <tr>
        <td>@item.CategoryID</td>
        <td>@item.CategoryName</td>
        <td><a class="btn btn-warning">Update</a></td>
        <td><a class="btn btn-danger">Delete</a></td>
    </tr>
}

