
@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">CategoryName</th>
                <th class="btn btn-outline-success, float-right">Create New Category</th>
            </tr>
        </thead>
        <tbody id="categoriesSet">
        </tbody>
    </table>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "http://localhost:59145/api/Category/GetCategories",
                success: function (response) {

                    $.ajax({
                        type: "POST",
                        url: "/Admin/AdminCategory/SetAllCategories",
                        contentType: "application/json; charset=utf8",
                        data: JSON.stringify(response),
                        success: function (data) {
                            $("#categoriesSet").html(data);
                        }
                    })
                }
            })
        })
    </script>
}

