
@{
    ViewData["Title"] = "ProfilePage";
}



<div class="row" id="profileCard">
   
</div>
<hr />
<div class="container">
    <div id="complaintsSet" class="row tm-welcome-row-2" style="margin-bottom:0px">
        <!--Complaints-->

    </div>
</div>



@section scripts{
    <script>
        var id =@ViewContext.RouteData.Values["id"];
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "http://localhost:59145/api/User/GetUserByID/" + id,
                success: function (response) {

                    $.ajax({
                        type: "POST",
                        url: "/Profile/ProfilePage",
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(response),
                        success: function (data) {
                            $("#profileCard").html(data);
                        }
                    })
                }
            });


            $.ajax({
                type: "GET",
                url: "http://localhost:59145/api/Complaint/GetComplaintByUserID/" + id,
                success: function (response) {
                    console.log(response);

                    $.ajax({
                        type: "POST",
                        url: "/Profile/SetComplaintsForUser",
                        contentType: "application/json; charset=utf8",
                        data: JSON.stringify(response),
                        success: function (data) {
                            console.log(data);
                            $("#complaintsSet").html(data);
                        }
                    })
                }
            })
        })
    </script>
}
