
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <link href="~/css/adminlte.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h1 class="" style="color:red"> ERROR</h1>
        <h1>Error File Path =  @ViewBag.Path </h1>
        <h2>Error Message =  @ViewBag.Message</h2>
    </div>
</body>
</html>
