
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Company Name</th>
            </tr>
        </thead>
        <tbody id="comSet">
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th><a class="btn btn-success float-right" href="/Admin/AdminCompany/InsertCompany">Add New Company</a></th>
            </tr>
        </tfoot>
    </table>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $.ajax({
                type: "get",
                url: "http://localhost:59145/api/Company/GetAllCompanies",
                success: function (response) {

                    $.ajax({
                        type: "post",
                        url: "/Admin/AdminCompany/SetCompanies",
                        data: JSON.stringify(response),
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            $("#comSet").html(data);
                        }
                    })
                }
            })
        })
    </script>
}

