
@{
    ViewData["Title"] = "InsertCompany";
}
@model CompanyVM
<div class="container col-lg-6 offset-3">
    <div class="card">
        <div class="card-header text-center">
            INSERT
        </div>
        <div class="card-body">
            <form href="/Admin/AdminCompany/InsertCompany" method="post" class="form-group">
                <div class="form-group">
                    <select class="form-control" asp-for="SubCatID" asp-items="@Model.SubCategories"></select>
                </div>
                <div class="form-group">
                    <label asp-for="CompanyName"></label>
                    <input class="form-control" asp-for="CompanyName" />
                    <span class="text-danger" asp-validation-for="CompanyName"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Overview">Overview:</label>
                    <input class="form-control" asp-for="Overview" />
                    <span class="text-danger" asp-validation-for="Overview"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WebSite">WebSite:</label>
                    <input class="form-control" asp-for="WebSite" />
                    <span class="text-danger" asp-validation-for="WebSite"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Location">Location:</label>
                    <input class="form-control" asp-for="Location" />
                    <span class="text-danger" asp-validation-for="Location"></span>
                </div>
                <div class="form-group">
                    <button class="btn btn-success">Add</button>
                </div>
            </form>
        </div>
        @if (ViewBag.IsSuccess != null)
        {
            <div class="card-footer">
                @if (ViewBag.IsSuccess)
                {
                    <label class="text-info">Successful Registration</label>
                    <br />
                    <a asp-controller="Department" asp-action="Index" class="btn btn-link">Return to Index</a>
                }

                else
                {
                    <label class="text-danger">Registration Failed</label>
                }
            </div>
        }

    </div>
</div>
