
@{
    ViewData["Title"] = "Index";
}

<div class="container" style="margin-bottom:10px">
    <div class="row">
        <div class="col-12">

            <div class="browse-by-catagories catagory-menu d-flex flex-wrap align-items-center mb-70" style="margin-left:20px">
                <a asp-controller="Company" asp-action="Index">Browse All</a>
                <a onclick="myFunction('a')"> A</a>
                <a onclick="myFunction('b')"> B</a>
                <a onclick="myFunction('c')"> C</a>
                <a onclick="myFunction('d')"> D</a>
                <a onclick="myFunction('e')"> E</a>
                <a onclick="myFunction('f')"> F</a>
                <a onclick="myFunction('g')"> G</a>
                <a onclick="myFunction('h')"> H</a>
                <a onclick="myFunction('i')"> I</a>
                <a onclick="myFunction('j')"> J</a>
                <a onclick="myFunction('k')"> K</a>
                <a onclick="myFunction('l')"> L</a>
                <a onclick="myFunction('m')"> M</a>
                <a onclick="myFunction('n')"> N</a>
                <a onclick="myFunction('o')"> O</a>
                <a onclick="myFunction('p')"> P</a>
                <a onclick="myFunction('q')"> Q</a>
                <a onclick="myFunction('r')"> R</a>
                <a onclick="myFunction('s')"> S</a>
                <a onclick="myFunction('t')"> T</a>
                <a onclick="myFunction('u')"> U</a>
                <a onclick="myFunction('v')"> V</a>
                <a onclick="myFunction('w')"> W</a>
                <a onclick="myFunction('x')"> X</a>
                <a onclick="myFunction('y')"> Y</a>
                <a onclick="myFunction('z')"> Z</a>
                <a onclick="myFunction('0')"> 0-9</a>
            </div>

        </div>
    </div>
</div>



<p id="demo" hidden></p>

<div class="row">
    <div class="col-12">
        <a asp-controller="Company" asp-action="Index"><h2 class="tm-section-header tm-section-header-small">Companies...</h2></a>
    </div>
</div>
<div id="companiesSet" class="row tm-welcome-row-2" style="margin-bottom:0px">
    <!--Companies-->

</div>

@section scripts{
    <script>

        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "http://localhost:59145/api/Company/GetAllCompanies",
                success: function (response) {
                    console.log(response);

                    $.ajax({
                        type: "POST",
                        url: "/Company/SetCompanies",
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(response),

                        success: function (data) {
                            console.log(data);
                            $("#companiesSet").html(data);
                        }
                    });
                }
            });
        });

        function myFunction(name) {
           

            $.ajax({
                type: "GET",
                url: "http://localhost:59145/api/Company/GetAllCompaniesByFLetter/" + name,
                success: function (response) {
                    console.log(response);

                    $.ajax({
                        type: "POST",
                        url: "/Company/SetCompanies",
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(response),

                        success: function (data) {
                            console.log(data);
                            $("#companiesSet").html(data);
                        }
                    });
                }
            })
        }
    </script>
}
